[2021-12-30 00:50] milesj opened #10 "[feature] Interactive dep/project graph"
**Is your feature request related to a problem? Please describe.**

No, new feature.

**Describe the solution you'd like**

Currently the `dep-graph` and `project-graph` commands output DOT that can be piped to a file. Instead we should open a browser window that renders an interactive project graph will full data.

The DOT output can be enabled with a `--dot` arg.

**Describe alternatives you've

[2021-12-30 22:39] milesj opened #12 "[feature] Render progress spinners while setup/teardown commands are running."
**Is your feature request related to a problem? Please describe.**

No.

**Describe the solution you'd like**

Currently the `setup`/`teardown` commands display no output while they are running, or when they finish.

Let's add progress spinners that continuously run until the future has resolved.

**Describe alternatives you've considered**

N/A

**Additional context**

Use indicatif https://docs.

[2022-01-04 19:19] milesj opened #19 "[feature] Use UTF-8 characters for moon name"
**Is your feature request related to a problem? Please describe.**

No

**Describe the solution you'd like**

Use "M◐◑N" or something similar when the moon name is used in CLI output.

**Describe alternatives you've considered**

N/A

**Additional context**

[2022-01-04 19:32] milesj opened #20 "[bug] Logs should always go to stderr"
**Describe the bug**

Right now errors go to stderr, while everything else goes to stdout.

**Steps to reproduce**

N/A

**Expected behavior**

Everything goes to stderr, so it can be piped together.

**Screenshots**

**Environment**

[code]

**Additional context**

[2022-01-08 08:10] #20 closed

[2022-02-05 21:24] milesj opened #34 "[feature] Update `std:fs` to `tokio:fs`"
**Is your feature request related to a problem? Please describe.**

Feature.

**Describe the solution you'd like**

We should use tokio as much as possible and embrace async/await.

**Describe alternatives you've considered**

**Additional context**

[2022-02-05 23:50] milesj commented on #34
We should probably create our own fs utils/wrappers at `moon_utils::fs`

[2022-02-06 22:36] milesj opened #39 "[feature] Implement a custom JSON serializer"
**Is your feature request related to a problem? Please describe.**

There are 2 huge issues with `serde_json`, they are:

- It writes `None` fields as `null`. We should always skip none options, and avoid adding this to every field: https://github.com/milesj/moon/blob/master/crates/config/src/package.rs#L14
- The field order that is written is different than the order when deserializing. We need t

[2022-02-08 04:58] milesj commented on #34
Done

[2022-02-08 04:58] #34 closed

[2022-02-10 04:46] milesj commented on #39
This PR fixes the `None` problem, although a bit verbose: https://github.com/milesj/moon/pull/45

The ordering problem is still an issue: https://github.com/serde-rs/json/issues/858

[2022-02-16 05:36] milesj opened #49 "[feature] Support scoped targets in `deps`"
**Is your feature request related to a problem? Please describe.**

No, new feature.

**Describe the solution you'd like**

Currently the task's `deps` field accepts a list of targets, in the format of "project:task". While this works, it can be quite tedious to explicitly list out all project dependencies for every task. To work around this, the following values can be used _instead_ of project n

[2022-03-01 01:16] milesj opened #60 "[feature] Support `MOON_NODE_VERSION` env var."
**Is your feature request related to a problem? Please describe.**

No.

**Describe the solution you'd like**

Right now our toolchain assumes a single node version, which is great for teams and companies. But for open source projects, we need to test multiple node versions, which currently isn't possible.

To support this, a CI environment can set `MOON_NODE_VERSION` to override the configured no

[2022-03-01 19:53] milesj opened #61 "[feature] Add shortcut commands for common targets"
**Is your feature request related to a problem? Please describe.**

No

**Describe the solution you'd like**

Right now to run a build/lint/etc you have to type `moon run <project>:build`. While this isn't too verbose, we should also support shortcuts like `moon build <project>`, `moon lint ...`, `moon format ...`, etc.

**Describe alternatives you've considered**

**Additional context**

[2022-03-02 03:48] #60 closed

[2022-03-05 23:12] #39 closed

[2022-03-30 04:32] milesj commented on #19
I tried this but the characters in the terminal render differently than web.

[2022-04-05 02:34] #49 closed

[2022-04-30 22:57] milesj commented on #19
Going a different direction.

[2022-04-30 22:57] #19 closed

[2022-05-20 18:30] milesj opened #101 "[feature] Improvements to the `init` command"
**Is your feature request related to a problem? Please describe.**

No

**Describe the solution you'd like**

The `init` command is pretty bare bones right now, it simply creates the `.moon` folder and default configs. Here are some ways to improve it:

- Automatically infer the `projects` list via `package.json` workspaces. This is only possible in an existing repo, so hide behind a flag like `--

[2022-05-21 05:09] milesj opened #103 "[bug] Passing deleted files to `git hash-object` will crash"
**Describe the bug**

If a file was deleted and was not committed yet, it will crash git when passed to `git hash-object`. For example, passing:

[code]

Results in:

[code]

**Steps to reproduce**

- Delete a file that is within git's history.
- Keep the deleted file in your staging area, do not commit it.
- Run a task that has the file in its `inputs` list.

**Expected behavior**

We shouldn't p

[2022-05-21 07:00] #103 closed

[2022-05-22 19:09] #101 closed

[2022-05-25 02:26] milesj opened #110 "[feature] Migrate release scripts to bash"
**Is your feature request related to a problem? Please describe.**

No

**Describe the solution you'd like**

Right now our release scripts are a mix of bash and js: https://github.com/moonrepo/moon/tree/master/scripts/release

Let's migrate the js ones to bash, as they're not doing anything complicated, and to keep things consistent. This also has the added benefit of not having to install Node.j

[2022-05-25 03:17] milesj commented on #61
After thinking about this more, I might be against it. In the off chance that we want to support some form of "moon linting", or testing, then I would like to keep `moon lint` around.

[2022-05-27 19:43] milesj opened #115 "[feature] Run node install during `moon setup`"
**Is your feature request related to a problem? Please describe.**

No.

**Describe the solution you'd like**

We should run the node install action during `moon setup`, so that node modules are installed, engines are synced, etc.

Otherwise, a task needs to be ran for these to happen.

**Describe alternatives you've considered**

**Additional context**

[2022-06-02 22:59] milesj opened #128 "v0.3 roadmap"
Cool things to look forward to!

- [x] Support a list of globs in `.moon/workspace.yml` `projects` instead of a map. This will automatically find projects when `moon` is ran.
- [x] Move the `project.yml` `project.type` field to the root of the document, so that it can be defined by itself.
- [x] Add a `language` setting to `project.yml`.
- [x] Improve handling of colored output. It seems to work w

[2022-06-14 20:33] #128 closed

[2022-06-19 01:02] milesj opened #144 "[feature] Apply `#[inline]` to Rust functions"
**Is your feature request related to a problem? Please describe.**

Nope

**Describe the solution you'd like**

We should apple `#[inline]` to our functions (when applicable) for performance improvements. https://nnethercote.github.io/perf-book/inlining.html

**Describe alternatives you've considered**

**Additional context**

I've never used inlining in Rust before, so I'm not sure what "best pra

[2022-06-19 02:27] milesj opened #147 "[feature] Apply `#[track_caller]` to potential panics"
**Is your feature request related to a problem? Please describe.**

Nope

**Describe the solution you'd like**

For situations where we `unwrap()` and may panic, we should annotate with `#[track_caller]`.

https://blog.rust-lang.org/2020/08/27/Rust-1.46.0.html#track_caller

**Describe alternatives you've considered**

**Additional context**

[2022-06-19 21:43] milesj opened #150 "[feature] Create a VS Code extension"
**Is your feature request related to a problem? Please describe.**

Nope

**Describe the solution you'd like**

A great quote by Jamie Kyle, "If your developer tool is not running in the editor, it’s running too late". https://twitter.com/buildsghost/status/1537133064454742016

And I agree. A lot of developers are heavily invested in their editor/IDE, and prefer _to not_ tab to their terminal to v

[2022-06-20 10:08] sschneider-ihre-pvs opened #154 "[bug] Unable to download toolchain when behind a VPN/corporate proxy"
**Describe the bug**

[code]

**Steps to reproduce**

1. git init
2. moon init
3. moon --log debug setup

**Expected behavior**

Resource should be able to be downloaded

**Environment**

[code]

**Additional context**

I suspect a corporate proxy problem, is there a switch around self signed certs comparable to NODE_TLS_REJECT_UNAUTHORIZED?

[2022-06-20 23:43] milesj commented on #154
@sschneider-ihre-pvs Are you on a VPN?

For the offline check, I ping Cloudflare's DNS (1.1.1.1). Is this not accessible for you?

[2022-06-21 06:02] sschneider-ihre-pvs commented on #154
I can ping the dns
moon 0.3.1

[2022-06-21 06:08] sschneider-ihre-pvs commented on #154
sadly there is no trace information on why download wasn't possible. A http code would be handy.
[code]

[2022-06-21 06:31] milesj commented on #154
@sschneider-ihre-pvs Thanks for the info. I'll disable it for now for v0.4 release since it's hard to debug as-is.

[2022-06-22 03:41] milesj opened #157 "v0.5 roadmap"
- [x] Only load project configs (`package.json`, `tsconfig.json`) once instead of re-reading the file constantly. This will require sharing the struct across threads using `Arc<RwLock<OnceCell>>>`.
- [x] Verify if we can use YAML references. Support is dependent on `serde_yaml`.
- [x] https://github.com/moonrepo/moon/issues/147
- [x] Rework `config` crate error handling. Instead of doing figment -

[2022-06-22 05:15] milesj commented on #154
Released v0.4 that disables this check if you'd like to try again.

[2022-06-22 20:58] RichiCoder1 commented on #150
I don't know how desirable it is ultimately, but a few extensions offer the ability to opt-in to "bootstrapping" a workspace when it's loaded. An example is jest running tests and starting a watcher upon load.

An example for moon might be making sure a moon repo is "setup" and ready to go, optionally running tasks on start.

[2022-06-22 23:15] milesj commented on #150
@RichiCoder1 Great point. This is definitely something I could see solving the "eslint/babel/etc plugins local to the repo and need to be built first" kind of scenario. It ensures these projects are always not stale.

[2022-06-23 06:55] sschneider-ihre-pvs commented on #154
![132](https://user-images.githubusercontent.com/86342787/175234813-899b9ccd-b502-4f2f-ad39-5c3e3b6954b8.png)

[2022-06-23 21:18] milesj commented on #154
@sschneider-ihre-pvs Ah windows, what terminal are you using?

[2022-06-24 06:16] sschneider-ihre-pvs commented on #154
that is windows-terminal running powershell, the extra window, I don't really know but I suspect something like git-bash maybe??

[2022-06-24 16:58] milesj commented on #154
For node/npm commands to work, we must run them through `cmd.exe`. I have a feeling this is causing the other terminal to open up, but I never actually encountered this myself when testing windows. I'll try and dig further, maybe it's a setting somewhere.

[2022-06-25 23:29] milesj opened #164 "[feature] Support YAML references (anchors/aliases) in config files"
**Is your feature request related to a problem? Please describe.**

Nope

**Describe the solution you'd like**

YAML supports reusing values within a document through features known as anchors and aliases. It looks something like the following:

[code]

It would be nice if our config files supported this syntax.

**Describe alternatives you've considered**

**Additional context**

Work has started

[2022-06-26 11:58] kination commented on #115
@milesj is `setup` means `yarn moon run <project>:build`, or are there other thing?
(because seems `node_modules` are being created when running this)

[2022-06-26 18:53] milesj commented on #115
@kination This is for the `moon setup` command, which is a stand alone command unrelated to `moon run`.

[2022-06-27 04:30] milesj commented on #154
I tested this on windows terminal + powershell mode without issue.

[2022-06-27 21:20] #147 closed

[2022-06-27 23:17] #157 closed

[2022-06-28 02:29] milesj opened #169 "v0.6 roadmap"
- [x] Automatically create a `tsconfig.json` when syncing project references and the file is missing.
- [x] Add Chrome profiling to spawned Node.js processes.
- [x] Add a `@group()` token that copies file group values as-is.
- [x] Start on a `moon query` CLI command.

[2022-06-30 12:40] kination commented on #115
@milesj thanks. Want to ask few question....
- Is `setup` command to add project initiation files (such as workspace.yml, package.json...)?
- Can I build `moon` cli tool from project? Want to test in local...
- Looks like `moon setup` is setting up the codes in current directory. How about getting option for 'target directory'?

[2022-06-30 17:28] milesj commented on #115
@kination

A few things:

The `moon init` command is used to add moon to a repo. This creates the `.moon` folder and config files.

The `moon setup` command is for setting up the toolchain, after moon has been initialized and configured.

If you want to build moon directly, there's info in the contributing guide: https://github.com/moonrepo/moon/blob/master/CONTRIBUTING.md#development-workflow

Yo

[2022-07-01 16:44] alexn-s commented on #150
+1  vscode extensions are always nicec

[2022-07-01 16:46] alexn-s commented on #10
other possibilities are to render to .svg, and basically wrap/ call graphviz cli

love your work on moon 💖

[2022-07-01 22:50] alexn-s commented on #164
+1 would help to keep the yml config files DRY and make them easier to manage/ changing values

[2022-07-01 23:06] alexn-s opened #176 "windows - global moon install is not working in powershell (flashes new shell window)"
**Describe the bug**

running moon just flashes a shell windows which closes directly (probably opens/ runs in new shell and closes immediately after). i recorded the issue with a screen recorder, but the flashing cmd window does not show

**Steps to reproduce**

install under windows with `npm install -g @moonrepo/cli`

**Screenshots**
![WindowsTerminal_mVpShsS6cf](https://user-images.githubuserc

[2022-07-02 05:03] alexn-s commented on #176
apparently moon cli works in cmd.exe prompt, just not in powershell.

as a workaround in powershell moon can be used via the following commands in powershell:
`cmd /c moon ...` (execs the command in cmd.exe)

[2022-07-04 01:23] milesj commented on #176
moon currently works by executing the `.cmd` files in `node_modules/.bin` through cmd.exe, which I'm assuming is causing this.

I have a feeling I'll need to resolve the `.js` file to execute, by resolving node modules manually. This means I'll have to implement this logic in Rust, which is unfortunate... but fun?

[2022-07-04 02:20] milesj commented on #176
Looking into this here: https://github.com/moonrepo/moon/pull/177

[2022-07-04 05:34] milesj commented on #176
I've been testing things, and when you `npm run <script>`, npm executes the `*.cmd` file using "C:\WINDOWS\system32\cmd.exe", which is exactly how I'm running it as well. Hrmm..

[2022-07-04 18:15] milesj commented on #176
I was able to resolve this locally. A fix will land with the next version.

[2022-07-08 01:29] milesj commented on #154
@sschneider-ihre-pvs Can you try v0.6? Landed some more windows improvements.

[2022-07-08 01:31] #169 closed

[2022-07-08 01:34] milesj opened #185 "v0.7 roadmap"
- [x] Add `$projectType`, `$taskType`, and `$language` tokens.
- [x] Add `actionRunner.implicitInputs` to `.moon/workspace.yml`. These inputs are then inherited by _all_ tasks automatically.
- [x] Add `--type` and `--language` filters to `moon query projects`.
- [x] Add `moon dep-graph` command.
- [x] Expand docs with FAQs

## Investigate

- [x] Refactor our project graph to pass around `Project`

[2022-07-11 13:45] gossi opened #195 "[bug] tasks are broken when using pnpm"
**Describe the bug**

I was giving moon a test-drive. It worked until I tried to execute a task (with eslint).

**Steps to reproduce**

1. Clone `moonrepo/examples`
2. Switch from `npm` to `pnpm` in `.moon/workspace.yml`
3. In project root: `echo "strict-peer-dependencies=false" > .npmrc` (for sanity)
4. Create `pnpm-workspace.yaml` file with these contents:

[code]

5. Install `pnpm i`
6. Run `mo

[2022-07-11 16:23] gossi opened #196 "Feedback on trying moonrepo"
Hey,

I was evaluating a couple of monorepo tools (including moon). Even though not everything worked yet for me (#195) (or I wasn't able to try out everything), I was able to grasp the idea of it. I wanted to share some feedback how that _feels_ to me.

**`moon` binary and `volta`**

Let's start: I'm a [`volta`](https://volta.sh/) user myself, and I realized, `moon` is kinda doing the same/simila

[2022-07-11 17:16] milesj commented on #196
This is great feedback, and something that I think a lot about. I'll answer each piece separately.

Not sure I follow here. Are you assuming that ID means an integer? Like in a database? It's more just a general identifier, so in this case, it's typically the folder name of the project.

There are many reasons for this, but it basically boils down to the following:

- Not all projects will have a

[2022-07-12 00:45] milesj commented on #195
Thanks, this will fix it once it lands https://github.com/moonrepo/moon/pull/199

[2022-07-12 01:53] milesj commented on #196
Also, in regards to your comment about scripts and this:

[code]

The encouraged solution is to define the tasks in [.moon/project.yml](https://moonrepo.dev/docs/config/global-project), so that all projects inherit it automatically. No need to add the `lint` script to every package.

[2022-07-12 22:47] milesj opened #201 "v0.8 roadmap"
This release will focus heavily on Node.js interoperability, primarily around `package.json` integration.

- [x] Add a special `noop` task (necessary for other features).
- [x] Add a `moon migrate from-package-json` command that will:
  - [x] Migrate `package.json` scripts to `project.yml` tasks.
  - [x] Migrate `package.json` dependencies (for local workspace linked packages) to `project.yml` `de

[2022-07-13 17:35] #185 closed

[2022-07-13 19:46] milesj commented on #195
This issue is now fixed.

There may still be issues with node module resolution in general, but I don't have enough knowledge about pnpm to know what's happening.

If there are still pnpm issues, please create another issue.

[2022-07-13 19:46] milesj commented on #176
Going to close this as I cannot reproduce anymore.

[2022-07-13 19:46] #176 closed

[2022-07-18 07:17] sschneider-ihre-pvs commented on #154
Works

[2022-07-18 07:17] #154 closed

[2022-07-18 17:28] milesj opened #207 "[feature] Support in-order (serial) execution for task deps"
**Is your feature request related to a problem? Please describe.**

Nope

**Describe the solution you'd like**

Tasks can define dependencies (https://moonrepo.dev/docs/config/project#deps), which are other tasks that must be ran before this task can be run. While this currently works, these dependencies run in parallel, where as sometimes you may want them to run in serial. For example, given the

[2022-07-21 22:17] milesj opened #211 "v0.9 roadmap"
- [x] Add type to `dependsOn`, to differentiate between development and production deps.
- [x] Support different dependency version types: `workspace:*`, `link:`, `file:`, `*`, etc.
- [x] Support env vars as task inputs.
- [x] Add a `cache` option to tasks.
- [x] Handle all pnpm edge cases (different linker patterns).

## Internals

- [x] Clean up our fixtures usage/utils.

## Breaking

- [ ] Rena

[2022-07-22 10:18] tanepiper opened #215 "[feature] Monorepo root level tasks"
**Is your feature request related to a problem? Please describe.**

As per the description of moon itself:

It seems moon however doesn't have a concept of root level tasks, only project level?  Can the root be set as a project, the docs don't seem to suggest so as I guess you'd also need a `project.yml` there?

**Describe the solution you'd like**

The ability to define tasks in the `workspace.ym

[2022-07-22 17:12] milesj commented on #215
@tanepiper Yeah theoretically you could create a `project.yml` in the root, and configure `.moon/workspace.yml` as such:

[code]

I haven't actually tested this, but I can't think of anything that would stop this from actually working. I'll verify it for the 0.8 release.

[2022-07-23 00:23] hustcer commented on #61
How about making `moon r` as a alias of `moon run`?

[2022-07-23 01:11] milesj commented on #61
@hustcer That will actually land in the next version.

[2022-07-23 01:17] hustcer opened #217 "[feature] Run code block / multiple commands for a task"
**Is your feature request related to a problem? Please describe.**

It's not convenient to run a code block in tasks currently, which is quite common if we want moon to be "language agnostic and easily pluggable in the future."

**Describe the solution you'd like**

Add running code block support for tasks, like
[code]
REF: https://docs.github.com/en/github-ae@latest/actions/using-workflows/workfl

[2022-07-23 18:49] milesj commented on #217
@hustcer This is something that won't happen for a while, as it's quite a drastic change from how things work, for the following reasons:

- A task is more akin to a singular unit of work, and as such, is represented by a single command and its unique arguments. Think of it like a function that accepts inputs and will always return the same output(s). Running a block of commands may produce side-e

[2022-07-23 18:49] milesj commented on #217
With all that being said, I'll leave this open to gauge feedback.

[2022-07-23 23:48] #201 closed

[2022-07-24 02:16] milesj commented on #196
@gossi Just released v0.8 that includes many changes that tackled some of your feedback. Full thread with changes: https://twitter.com/tothemoonrepo/status/1551026363695390720

[2022-07-24 02:17] hustcer commented on #217
Got it, thanks for your reply

[2022-07-24 04:21] milesj commented on #217
@hustcer It may not be apparent from my previous post, but you could always run multiple commands by encapsulating them within a runnable script. This is kind of an escape hatch.

[code]

[2022-07-25 09:02] glamseam commented on #195
I tried using pnpm with the latest [moon/example](https://github.com/moonrepo/examples) and it did not work.

I tried
[code]

Error
[code]

My environment
- macOS 12.4 (intel)
- pnpm 7.6.0

[2022-07-25 15:21] alexn-s commented on #176
@milesj  just checked it and everything works fine. thank you

[2022-07-25 15:53] alexn-s opened #223 "[bug/feature] should be able to execute any shell commands"
i would like to be able to use execute any shell command in a selectable shell.
most users have several cli utilities install that are only available in a certain shell with a profile)

shell: powershell
os: win 11
moon: 0.8.0

.moon/project.yml
[code]

current error message

[code]

rimraf is installed globally with npm

also why cant the command value be a 'sentence' (string with whitespaces), t

[2022-07-25 16:48] milesj commented on #195
@glamseam Is this on moon v0.8? If not can you try updating.

[2022-07-25 16:54] milesj commented on #223
@alexn-s This is an interesting one. When `type` is "system", nothing special happens, the command is simply executed as a child process. I'm assuming the npm global install location isn't within `$PATH`, so the environment can't find it.

I'm also not sure this is something we should support, as it assumes that all developers and machines (CI) also have `rimraf` installed globally, otherwise it w

[2022-07-25 19:37] alexn-s commented on #223
hmm ok.  npm is in my global paths (environment variables)

and regarding rm, it is only available on unix and not on win without cygwin.
also rimraf was just an example.

what i mean/ looking for is to execute any command `start . ` (start windows explorer) `start dist/index.html` (start web page in default browser), basically i run many cli commands in powershell/ cmd.exe and was trying to creat

[2022-07-25 21:19] milesj commented on #223
@alexn-s Good to know. Any reason why it's simply not a dep in `package.json`?

[2022-07-25 23:20] glamseam commented on #195
@milesj Yes, I am. I used moon v0.8.0.
I also get an error with `pnpm` but not with `npm`.

[2022-07-25 23:30] milesj commented on #195
@glamseam Interesting, so it's failing here: https://github.com/moonrepo/moon/blob/master/crates/action/src/install_node_deps.rs#L75

Which I'm then assuming fails here: https://github.com/moonrepo/moon/blob/master/crates/action/src/install_node_deps.rs#L23

What's your `workspace.yml` config file look like?

[2022-07-25 23:48] glamseam commented on #195
@milesj My `workspace.yml`

[code]
Only the `node.packageManager` has been changed.

[code]

[2022-07-26 01:27] milesj commented on #195
Thanks, I believe this will fix the problem: https://github.com/moonrepo/moon/pull/225

[2022-07-26 02:19] glamseam commented on #195
@milesj Thank you.
I defined the version and tried it but still get the error.

[code]
Error
[code]

Since moonrepo is running Node.js with the `--preserve-symlinks` flag, it adds `node-linker=hoisted` to the .npmrc.

My .npmrc
[code]

[About pnpm node-linker](https://pnpm.io/npmrc#node-linker)

[2022-07-26 03:33] milesj commented on #195
I'll re-open this.

pnpm seems to do things quite differently than npm/yarn. I'll look into testing all these edge cases as part of v0.9.

[2022-07-26 05:19] alexn-s commented on #223
yeah, rimraf was just an example. it is not even directly about npm modules, but the ability to exec any shell command that also works in the users default shell

an prime example would be npm scripts:

package.json
[code]

when running `pnpm run start` or with `npm` the command executes fine (start . -> opens the file explorer on windows in current dir).
so in the end i am looking for compatibili

[2022-07-26 20:30] milesj opened #228 "RFC: Rename project-level `project.yml`."
The `project.yml` is rather straight forward, it configures the project. However, this name is _very_ generic, and is also used by other tooling, such as:

- `xcodegen` - https://github.com/yonaskolb/XcodeGen
- DigitalOcean - https://docs.digitalocean.com/products/functions/reference/project-configuration/
- Frontastic - https://docs.frontastic.cloud/v1.1/docs/projectyml

The risk of collision is

[2022-07-26 20:55] milesj opened #229 "RFC: Combine `command` and `args` fields within tasks."
When I first start building moon, I separated the `command` and `args` settings for the following reasons:

- The `command` is used heavily for lookups and child process execution. Having a simple string was easiest.
- The `args` were initially a list of strings (supporting a string itself was added later), as iterating through and processing them was also easiest.

But now that moon is rather sta

[2022-07-27 13:14] glamseam commented on #228
@milesj I think your suggestion is good.
Using the name of the tool might create a file icon in an editor such as VSCode.
That would make it easier to find.

[2022-07-27 17:11] milesj commented on #228
@glamseam That's a great point. People do love their icons, myself included.

[2022-07-27 23:59] milesj commented on #195
Tested this here: https://github.com/moonrepo/moon/pull/232

Was able to resolve issues with both linker types.

[2022-07-29 09:22] gossi commented on #196
That's cool. With my next project I will try moon once more.

What I might want to add is, that think of moon as progressive enhancement for things, that aren't there. Ie. dependencies, names is already there for npm packages, cool take it. But for no such organized packages it is cool, that moon provides this.

Yes, that is exactly what I expect moon to do. I already know `@scope/foo`. I use it f

[2022-08-03 02:16] milesj opened #235 "v0.10 roadmap"
- [x] https://github.com/moonrepo/moon/issues/228
- [x] https://github.com/moonrepo/moon/issues/207
- [x] Support project aliases? Look into ways to use a `package.json` name.
  - [x] Support `/` and `@` in IDs?
- [x] Infer `tasks.*.type` based on the command. Do our best to detect "system".
- [x] Refactor hash cache to use `.tar` files instead of copying entire folders.
- [x] Update default tool

[2022-08-03 17:59] #211 closed

[2022-08-03 20:07] milesj commented on #195
Released v0.9 that included these changes.

Thanks for being patient here. I've never used pnpm personally, so implementing accurate support has been... interesting.

[2022-08-03 22:51] glamseam commented on #195
@milesj I have tried the new release and can confirm that it works fine with `pnpm`.
Thank you very much for your great work.

[2022-08-04 00:38] milesj commented on #195
@glamseam Awesome, glad to hear! I'll close this for now. If any other issues arise, please file another.

[2022-08-04 00:38] #195 closed

[2022-08-04 01:35] milesj commented on #215
@tanepiper I've added some docs on creating/using a root-level project: https://moonrepo.dev/docs/guides/root-project

The glob support will be available in the next release.

[2022-08-04 02:54] glamseam opened #237 "[bug] Error output is missing when using vue-tsc"
**Describe the bug**

When I run `vue-tsc` as a task from moon, it does not output error details.

**Steps to reproduce**

1. Clone [moonrepo/examples](https://github.com/moonrepo/examples)
2. In project root `npm i`
3. Edit `apps/vue-vite-app/src/App.vue`
[code]

**Expected behavior**

Run `npx -w apps/vue-vite-app vue-tsc --noEmit --project tsconfig.vitest.json --composite false`

Normally, `vue

[2022-08-04 03:37] milesj commented on #237
@glamseam I wonder if the codeframe only appears if it thinks the terminal is a TTY. Since tasks are piped child processes, it may be losing that functionality.

Could you do me a favor and verify if that's true?

[2022-08-04 04:01] glamseam commented on #237
@milesj How can I verify it?

[2022-08-04 04:11] milesj commented on #237
@glamseam You can probably create a basic Node.js script that runs `vue-tsc` as a child process: https://nodejs.org/api/child_process.html#child_processexecsynccommand-options

[code]

[2022-08-04 05:05] glamseam commented on #237
@milesj Thank you for the information.

Result

[code]

[2022-08-05 01:56] milesj commented on #237
Thanks, looks to be true. I'll see if there's anything we can do about it.

[2022-08-05 23:39] milesj commented on #237
@glamseam I did a bit of digging and I believe this is `tsc` itself: https://github.com/microsoft/TypeScript/issues/30282

Are you able to pass a `--pretty` flag through `vue-tsc`?

[2022-08-06 00:08] glamseam commented on #237
@milesj Amazing!!! `--pretty` flag gave me the behavior I was hoping for!

<img width="952" alt="vt" src="https://user-images.githubusercontent.com/25496839/183225270-506011f4-40a5-4249-9fb1-4e4de88d464d.png">

Sorry, I should have done more research before reporting this.
Thank you.

[2022-08-06 01:08] milesj commented on #237
@glamseam No worries, this was news to me as well, hah! I'll add this to the docs for future reference.

[2022-08-06 02:25] milesj commented on #237
Updated, thanks! https://github.com/moonrepo/moon/commit/a099e04f570b48da30709698cd5599f2af97fdd4

[2022-08-06 02:25] #237 closed

[2022-08-08 03:19] milesj commented on #215
Glob support landed in 9.1.

[2022-08-08 03:19] #215 closed

[2022-08-08 03:20] milesj commented on #115
Going to close this. Node install is tied to a project, so running outside the context of a project makes no sense.

[2022-08-08 03:20] #115 closed

[2022-08-09 03:05] milesj opened #248 "v0.11 roadmap"
- [x] Add an `envFile` option to tasks.
- [x] Add an "is long running" option to tasks.
- [x] Add more output styles.
- [x] Update `moon run` to support multiple targets.
- [x] Add `moon clean` and other utils for cleaning up stale cache.
- [x] TS v.4.8 compatibility
- [x] Rust v1.63

[2022-08-10 00:51] #235 closed

[2022-08-10 00:51] milesj commented on #207
Landing in v0.10.

[2022-08-10 00:51] #207 closed

[2022-08-10 02:18] milesj commented on #228
Landing in v0.10.

[2022-08-10 02:18] #228 closed

[2022-08-12 13:10] NikolaRHristov opened #256 "[bug] Moonrepo doesn't detect projects if folders are capitalized."
When running moonrepo from the root directory all the projects that have folder's names capitalized are not detected.

Dependency graph with projects names capitalized

![x](https://user-images.githubusercontent.com/90222871/184360140-286b26ec-78e3-46dc-bc58-e4652f560c5c.svg)

and without

![x](https://user-images.githubusercontent.com/90222871/184360518-b5c46103-1099-4119-8697-21789ff423c5.svg)

[2022-08-12 16:19] NikolaRHristov opened #257 "[bug] Moon detects .git repositories and node_modules inside of a project folder as separate projects."
When using moonrepo with workspaces the folders inside the main project folder also get detected as projects. Such folders include .git, etc.

[code]

This is the logfile

[code]

[2022-08-12 16:39] NikolaRHristov opened #258 "[bug] Process failure for moon.exe"
When running ``moon run :build`` I get:

Process failure for ..\..\..\node_modules\@moonrepo\cli\moon.exe: The system cannot find the path specified. (os error 3)

Everything is installed and setup through ``moon sync`` and ``moon setup``.

[2022-08-12 17:11] milesj commented on #256
@NikolaRHristov How are you configuring the projects? With a map or glob?

Can you paste the output of `moon project-graph`?

[2022-08-12 17:12] milesj commented on #257
@NikolaRHristov I can add some safe guards, but you should probably avoid using `**` and just use `apps/*`.

[2022-08-12 17:13] milesj commented on #258
@NikolaRHristov Can you verify that the `moon.exe` file exists at that location or not? It should be created as part of a `postinstall` hook when installing node modules.

[2022-08-12 20:51] milesj commented on #256
Trying to reproduce this with no luck. Need more information.

![graphviz(1)](https://user-images.githubusercontent.com/143744/184443116-feeaf17a-8e9b-46d7-b710-56a8be33ff44.png)

[2022-08-12 22:16] milesj commented on #257
Thanks for the report, this will be fixed here: https://github.com/moonrepo/moon/pull/259

[2022-08-13 03:55] NikolaRHristov opened #261 "[bug] WSL2 Ubuntu 22.04.1 fresh install tokio-runtime-worker panicked"
thread 'tokio-runtime-worker' panicked at 'called `Result::unwrap()` on an `Err` value: Error { kind: InvalidData, message: "stream did not contain valid UTF-8" }', crates/lang-node/src/node.rs:46:50
note: run with `RUST_BACKTRACE=1` environment variable to display a backtrace

[2022-08-13 04:08] milesj commented on #261
@NikolaRHristov What command did you run? You should be able to figure out the npm binary from that, and if so, can you paste the contents of the `node_modules/.bin` file?

[2022-08-13 14:16] NikolaRHristov commented on #261
Just ``moon run :build``. This is an archive of the node_modules folder.
[node_modules.zip](https://github.com/moonrepo/moon/files/9331563/node_modules.zip)

[2022-08-13 18:18] milesj commented on #261
@NikolaRHristov What's the build task configured as? Can you paste the yaml?

[2022-08-13 18:48] NikolaRHristov commented on #261
Yeah, you can see the repo live here - https://github.com/NikolaRHristov/test

[2022-08-13 19:28] milesj commented on #261
Ok I believe the problem is that build is running `esbuild`, and since esbuild is an executable (go lang), moon crashes when trying to read it. I should be able to work around this.

[2022-08-14 04:11] milesj opened #265 "v0.12 roadmap"
- [x] https://github.com/moonrepo/moon/issues/229
- [x] Add Linux arm64 support
- [x] Add a CI report/manifest
- [x] Add affected support to `moon query projects`
- [x] Make `typescript` setting optional
- [x] Integrate Astro build
- [x] Investigate a GitHub bot/app/action
- [x] Finalize eslint/jest/etc packages

[2022-08-14 05:53] #248 closed

[2022-08-14 06:06] milesj commented on #261
This is fixed in v0.11.

[2022-08-14 06:06] #261 closed

[2022-08-14 06:06] milesj commented on #257
This is fixed in v0.11.

[2022-08-14 06:06] #257 closed

[2022-08-14 06:06] milesj commented on #256
This is fixed in v0.11.

[2022-08-14 06:06] #256 closed

[2022-08-14 06:07] milesj commented on #217
Tasks now support `.env` files: https://moonrepo.dev/docs/config/project#envfile

[2022-08-14 06:08] milesj commented on #258
Can you try again with v0.11? I'm not entirely sure what the root issue is here.

[2022-08-14 14:33] NikolaRHristov commented on #258
Now I get a:

[code]

This is the repo I'm testing with https://github.com/Playform/blank-web-starter, but it also appears in others.

[2022-08-14 19:28] milesj commented on #258
@NikolaRHristov The node modules looks correct. What package manager is being used?

It kind of looks like this failure: https://github.com/yarnpkg/berry/issues/882

[2022-08-14 20:32] NikolaRHristov commented on #258
This is npm@8.17.0 and pnpm@7.9.0, btw these are two different drives. The ~/.moon folder is on drive C:\ and the .moon directory inside D:\Developer is on drive D:\

[2022-08-15 00:02] NikolaRHristov commented on #258
It's an error in my code. Nothing wrong with moon. Closing this down. TypeScript didn't compile and it didn't throw an error.

[code]

[2022-08-15 00:02] #258 closed

[2022-08-15 00:02] NikolaRHristov commented on #258
It happens when an import doesn't exist in a ``.ts`` file.

[2022-08-15 15:38] tanepiper opened #266 "[bug] new envFile feature breaks when no CI file, even if not defined on running task"
In one project `moon.yml` the `dev` task has the `envFile` property set to true, also `local: true`

When running the `build` task in our CI, it fails to try to load a `.env` file even though this is not set on the task

**Steps to reproduce**

run `yarn moon run api-server:build` in the CI pipeline

output:

`Failed to parse env file ~/work/repo/services/api-server/.env: No such file or directory

[2022-08-15 22:07] #266 closed

[2022-08-16 15:35] tanepiper opened #273 "[bug] Missing .env file breaks moon query project"
**Describe the bug**

When running `moon query project` if a task in a project has `envFile` true but there is no `.env` (e.g. in a CI) it causes the whole command to fail.

**Steps to reproduce**

1. Set a task options to `envFile: true`
2. Run `moon query project`

**Expected behaviour**

The query should not fail, instead maybe a warning?

**Screenshots**
No screenshot, but output:

[code]

**A

[2022-08-16 16:51] milesj commented on #273
@tanepiper This is even after the v0.11.1 patch? This is odd, since they all go through the same code path. Can you verify that the `CI` env var is set?

As you can see here, the `query projects` has nothing to do with `envFile`: https://github.com/moonrepo/moon/blob/master/crates/cli/src/queries/projects.rs

[2022-08-23 02:41] milesj opened #280 "v0.13 roadmap"
- [x] Add `moon check` command
- [x] Use versions from lockfile instead of `package.json` for hashing
- [x] Split `SetupToolchain` action to be language/platform specific
- [x] Error if an output is defined but it was not created
- [x] Add types package
- [x] Add astro command checks
- [x] Rename `actionRunner` to `runner`

[2022-08-23 07:05] milesj commented on #273
Trying to reproduce this with no luck: https://github.com/moonrepo/moon/pull/281

[2022-08-23 07:05] #265 closed

[2022-08-23 07:08] #229 closed

[2022-08-31 04:53] milesj opened #296 "v0.14 roadmap"
Small roadmap but they're all large features!

- [x] Add template generator / scaffolding
- [x] Implement project graph implicit dependency scanning
- [x] Integrate GitHub action for run reports
- [x] Avoid caching and hashing in Docker

[2022-08-31 07:18] #280 closed

[2022-09-12 21:37] milesj opened #310 "[feature] Generator/template improvements"
**Is your feature request related to a problem? Please describe.**

Nope

**Describe the solution you'd like**

Just some ideas for improving the generator and templates.

- [x] Support frontmatter in each template file: https://www.hygen.io/docs/templates#frontmatter
- [x] When a write conflict with a JSON/YAML file, add a prompt option for merging the 2 files.
- [x] Support a Tera file extension

[2022-09-13 23:11] milesj opened #313 "v0.15 roadmap"
- [x] Add `moon docker scaffold` command to create the repo skeleton for `COPY`.
- [x] Add `moon docker prune` command to prune the repo when in a docker container/image.
- [x] Implement event emitter in workspace and action runner.
- [x] Update toolchain to support arbitrary tool + version combos. This unlocks different versions per project.
- [x] Support template file frontmatter.

[2022-09-13 23:12] #296 closed

[2022-09-13 23:12] milesj commented on #273
Gonna close this since I've been unable to reproduce.

[2022-09-13 23:12] #273 closed

[2022-09-15 21:47] edwardwilson opened #319 "[feature] Sync project dependencies to tsconfig compilerOptions paths"
**Is your feature request related to a problem? Please describe.**

When working with TypeScript monorepo projects to improve import paths we can use [path mapping](https://www.typescriptlang.org/docs/handbook/module-resolution.html#path-mapping) to improve the import paths within the project using the referenced package. It is frustrating to have to manually apply these project path mappings.

**

[2022-09-15 22:08] milesj commented on #319
@edwardwilson Interesting. Wouldn't `@namespace/package-a` already be available for importing because of `node_modules` symlinking? Or is this overwriting that to use the source files?

[2022-09-16 07:19] edwardwilson commented on #319
When paired with the package.json pointing to `src/index.ts` we can use `import {} from '@namespace/package-a '`.

If however we want to achieve the following, we need to have a path mapping into the `src` folder `../packageA/src/*` or we require an independent build of the package and to consume it like any other npm package with a structured dist folder.
[code]

[2022-09-16 16:44] milesj commented on #319
@edwardwilson Yeah makes sense. I'll look into add a setting for this.

[2022-09-16 18:25] milesj commented on #196
Thanks for all the feedback. I'm going to close this as it's all pretty much been addressed.

- You can use `package.json` names in configuration and on the command line.
- The project graph scans for implicit dependencies now based on `package.json`, etc.
- You can opt-in to `package.json` scripts.
- And moon will support multiple Node.js versions in the toolchain relatively soon.

[2022-09-16 18:25] #196 closed

[2022-09-25 17:39] milesj opened #334 "v0.16 roadmap"
- [x] TypeScript - Add a `routeOutDirToCache` setting.
- [x] TypeScript - Add a `syncDependenciesAsPaths` setting: https://github.com/moonrepo/moon/issues/319
- [x] Support project-level tool version overrides (`workspace.node.version`).
- [x] Add `runner.implicitDeps`.
- [x] Support file extensions (like `.tpl` or `.tera`) for template files.

[2022-09-25 17:40] #313 closed

[2022-09-29 15:36] bclark-p44 opened #340 "[question] Task runner glob"
I have a monorepo with both apps and packages similar to the examples repo. The apps are deployed using `vercel` and the package's release is managed by `changesets`. I am updating my release GitHub to release the packages, is there a way to only build just the packages? Will the task runner accept a glob for tasks? `yarn moon {packages/*}:build`

[PR for reference]( https://github.com/project44/m

[2022-09-29 17:19] milesj commented on #340
@bclark-p44 It unfortunately does not at this time. However, you could create a custom script that calls out to `moon query projects` to achieve what you are looking for. https://moonrepo.dev/docs/commands/query/projects

Something like this:

[code]

[2022-09-29 17:30] bclark-p44 commented on #340
Great! Thank you

[2022-09-29 17:30] #340 closed

[2022-10-05 17:12] milesj commented on #319
@edwardwilson I started working on this here: https://github.com/moonrepo/moon/pull/352

Before I finish, just want to make sure this is what you were looking for.

[2022-10-06 21:29] milesj opened #356 "v0.17 roadmap"
- [x] BREAKING: Rename task `type` to `platform`
- [x] Support extended yaml: https://github.com/moonrepo/moon/issues/164
- [x] Add webhooks support to events
- [x] Support an object form for generator enum values
- [x] Shorthand "self" targets
- [x] Create JSON schema for `template.yml`
- [x] Node.js v18/19 support
- [x] Add `--report` to `moon check`

### Internal

- [x] Start on infra for vscod

[2022-10-06 21:39] #334 closed

[2022-10-11 19:09] kaname-png opened #362 "[bug] Project 'tsconfig.json' is out of date because output 'dist/index.js' is older than input 'tsconfig.json"
**Describe the bug**

I don't know if I'm doing something wrong, or I have something misconfigured but when I run the task to build my typescript project I get this message in the console.

![image](https://user-images.githubusercontent.com/56084970/195177613-2a65fe33-062d-4162-9c97-33a39ab0dcf6.png)

**Steps to reproduce**

[code]

[code]

[code]

**Expected behavior**

When executing the task, t

[2022-10-11 21:35] milesj commented on #362
@kaname-png Two things:

- Since you're using `**/*` as an include, but also creating a `dist` folder relative to the project, you should add `"exclude": ["dist"]`.

- In the original screenshot, that "out of date" message is correct. That's just a message that tsc logs when something has change since the last compilation. In regards to moon, we capture that last stdout/stderr and display it when

[2022-10-11 21:45] kaname-png commented on #362
Oh how did I not realize, thank you very much!

[2022-10-11 21:46] #362 closed

[2022-10-11 21:54] milesj commented on #362
@kaname-png No problem!

[2022-10-16 09:02] IgnisDa opened #372 "Link element too big on docs website"
Looking at the documentation website, I was just randomly clicking around and saw that I was being redirected to another page even when I had not clicked on a link (around the bottom of the page). As shown in the picture, the mouse showed a link even though I was not hovering over one.

![image](https://user-images.githubusercontent.com/60938164/196027123-6abf7b03-cd94-46a4-b694-e3b20ef5fd73.png)

[2022-10-17 00:57] IgnisDa opened #374 "New command: `moon migrate nx-project`"
A command that would allow one to migrate their NX projects to moon. This can be achieved by leveraging `nx dep-graph` which provides a lot of information about each project.

What do you think about this feature?

If accepted, i would like to make a PR for the same.

[2022-10-17 17:10] #372 closed

[2022-10-18 05:52] milesj commented on #164
Will be in the next version.

[2022-10-18 05:52] #164 closed

[2022-10-19 01:14] milesj opened #379 "v0.18 roadmap"
- [x] Add benchmarking system
- [x] Enable inlining: https://github.com/moonrepo/moon/issues/144
- [x] Add `node.runArgs` setting, to pass args to the running `node` (`node.exe`) binary
- [x] Recursively cache `extends` field in configs
- [x] Separate project globs from map
- [x] Improve `moon init` by handling more node options
- [x] More platformication of internals
- [x] Write stdout/err log fi

[2022-10-20 05:58] #356 closed

[2022-10-20 06:59] milesj commented on #150
This has landed! https://moonrepo.dev/docs/editors/vscode

[2022-10-20 06:59] #150 closed

[2022-10-20 07:01] milesj commented on #61
This will most likely not happen, closing.

[2022-10-20 07:01] #61 closed

[2022-10-23 02:38] #144 closed

[2022-10-27 10:54] IgnisDa commented on #10
# RFC: `moon graph`

I took some time to research how we can tackle this and I am writing it down here.

## Some notes

- When I say dep graph, I mean the graph of dependencies installed via package manager
  (npm, pnpm, yarn etc). `astro`, `next` etc will be part of the dep graph.
- When I say project graph, I mean the relationships between different repositories that
  are present in the workspa

[2022-10-27 17:08] IgnisDa commented on #10
@milesj I am not sure how vscode extension packaging works, but lets say we write the graph visualizer in svelte (I have heard it has great integration with vscode extensions). We could simply build the SPA with svelte and then bundle it within the CLI. And we can also import svelte components into the vscode project and use them to render in a webview environment.

Agreed.

[2022-10-28 17:55] 1aron opened #397 "[feature] Add `format.tabSize` for `.moon/workspace.yml`"
First, excited to discover this very useful tool and am importing its workflow for my project [Master CSS](https://github.com/master-co/css)!

**Is your feature request related to a problem? Please describe.**

Whenever `moon run` is executed it reads and writes the user's config like `tsconfig.json` or `*.yml` and forces to be formatted with `tabSize: 2`, which cannot be customized.

**Describe t

[2022-10-28 18:15] milesj commented on #397
@1aron I'll look into this, but ideally, I don't need a new setting for it. Do you use `.editorconfig` by chance?

[2022-10-28 18:28] 1aron commented on #397
You mean `.editorconfig` if it exists then moon will automatically read its config?

[2022-10-28 18:44] milesj commented on #397
@1aron It doesn't right now, but I'd probably base indentation off of it since it's a standard.

[2022-10-28 18:50] 1aron commented on #397
@milesj Sounds good! 👍🏻 The feature is necessary.

[2022-10-29 05:34] IgnisDa opened #398 "Run `check` on all projects if no project is specified"
I am writing a pre-push hook that builds and tests all projects. The `moon check` is the perfect command for this. However I have to list all the projects projects manually. This is error prone and I have to remember to update the command everytime I add a project.

I propose a `--all` flag to the `moon check` command that will run the command on all the projects configured in the `.moon/workspace

[2022-10-29 07:05] IgnisDa commented on #398
Looking into the source code, I think this should be possible with just `moon check` (with no args). However that fails with the following error:

<img width="484" alt="image" src="https://user-images.githubusercontent.com/60938164/198818730-4186058e-eb44-46d6-91b9-4d0dfb7fed23.png">

[2022-10-29 17:45] IgnisDa opened #400 "Improve pnpm lockfile parsing"
The current implementation of pnpm lockfile parsing has the following problems:

- It fails for packages such as `@types/babel__core` etc

  <img width="949" alt="image" src="https://user-images.githubusercontent.com/60938164/198846155-1195104f-0de2-4948-a7b4-0167c2758524.png">

- It returns dependencies in a non-deterministic order, so hashing does not work as expected

[2022-10-29 17:48] IgnisDa opened #401 "Support tokens in task `outputs`"
Right now, a lot of [tokens](https://moonrepo.dev/docs/concepts/token) are not supported in a task's `outputs`. Since most of these tokens are related to `fileGroups` functions, we should be able to add support in a similar way to how task `inputs` work.

[2022-10-31 06:54] #398 closed

[2022-10-31 17:24] #379 closed

[2022-10-31 17:55] milesj opened #405 "v0.19 roadmap"
- [x] Lay the foundation for remote caching
- [x] Improve the dependency graph
- [x] Support `.editorconfig` when writing json/yam files: https://github.com/moonrepo/moon/issues/397
- [x] Use `FxHashMap` for performance: https://nnethercote.github.io/perf-book/hashing.html
- [x] Handle conflicts/merging for template files: https://github.com/moonrepo/moon/issues/310
- [x] Add a "ci provider" layer

[2022-11-01 15:18] bclark-p44 opened #409 "[bug] Running moon in codesandbox ci throws an GLIBC error"
**Describe the bug**

Hello,

I'm not sure if this is an issue with moonrepo or codesandbox ci, but when running moon build via yarn in the codesanbox environment the following error is thrown:

[code]

I'm using yarn 3.2.3 and have moon assign to script as:

[code]

**Steps to reproduce**

Here is a link to the codesandbox build:

https://ci.codesandbox.io/status/project44/manifest/pr/147/builds/

[2022-11-01 17:02] milesj commented on #409
@bclark-p44 This is typically caused by the environment running an old Linux distro, probably Ubuntu 18, and the required libc doesn't exist, or is too old. There's not an easy solution to this, these are the options:

- Run moon and your repo in a Docker container that has the right environment and libs.
- Upgrade the Linux distro to a newer one.
- Try and install newer libc: https://stackoverflo

[2022-11-01 17:06] #400 closed

[2022-11-01 17:09] #409 closed

[2022-11-01 17:19] milesj commented on #409
Here's some more context on the problem: https://kobzol.github.io/rust/ci/2021/05/07/building-rust-binaries-in-ci-that-work-with-older-glibc.html

[2022-11-01 20:56] milesj commented on #10
Ok my thoughts.

The visualizer would need to work from both the CLI and from the VS Code extension. Code_must be_ shared between the two.

### Writing the JS

While svelte is great, I feel like this can simply be built in vanilla JS. Most of the interactivity will be in the graph itself, which will be abstracted away from us based on the lib we choose. Anything else would be simple DOM updates.

[2022-11-02 02:23] IgnisDa commented on #10
The CDN route sounds really good! But for functionalities like filtering, serching and grouping, i think it would be best to use some kind of UI framework. That would also ensure that we are able to add more advanced features later down the line without any major overhaul.

[2022-11-02 05:03] tomdavidson opened #414 "[bug] fitler on change status does not work"
**Describe the bug**

Exploring moon's filtering to replace lint-staged githook and want to filter based on the status of the files changed. Unfortunately, the filtering on change status does not work.

**Steps to reproduce**

1. Create a dummy root level task in //moon.yml
[code]

2. Make sure there are changed files in git with various status such as modified or staged.

3. Run the task with the

[2022-11-02 06:52] milesj commented on #414
@tomdavidson All of the subsequent calls are cached, so it just hitting that.

If you pass `--log trace`, what are the git commands that are running?

[2022-11-02 16:49] tomdavidson commented on #414
@milesj  OK sounds like I misunderstand the status filter. When I filter on status=changed, Im expecting to see the same files git status would show changed. When I filter on staged, I expect to see the same file git status shows are staged.

In this example, I filter on status=staged but it kinda looks  like the output of `git status --porcelain --untracked-files -z ` is not being filtered for st

[2022-11-02 16:58] milesj commented on #414
@tomdavidson Ok, so I completely missed this, but you also need to pass `--affected`. https://moonrepo.dev/docs/run-task#filtering-based-on-change-status

However, `--status` doesn't change the "hash inputs" (which you can see at `.moon/cache/hashes`), so subsequent runs will still hit the cache if the files in the working tree haven't changed status since the last run.

On a side note, I'll look

[2022-11-02 17:23] tomdavidson commented on #414
@milesj interesting. I intentionally did not use `--affected` thinking it checks to see if files have changed and without it I could look at what `--status` does on its own. No that have used `--affected --status staged` no files are in the output at all and from the trace logging, git is not invoked. When I change a file and stage it, `moon --log trace run root:ls --affected --status staged` stil

[2022-11-02 17:27] milesj commented on #414
@tomdavidson Is this available anywhere to test? If not, I can try and reproduce locally.

[2022-11-03 03:44] tomdavidson commented on #414
@milesj thanks for being willing to dig in on this - Im clearly not figuring it out.  Here is a copy that can be public https://github.com/tomdavidson/moon-status-filter and I invited you as a collaborator.

I set the task to local and did not observe a difference.

[2022-11-03 16:17] milesj commented on #414
@tomdavidson Awesome, will take a look.

While I'm digging into this, can you outline exactly what you are trying to achieve? And what the flow would look like.

[2022-11-03 22:54] tomdavidson commented on #414
There is a handful of other filtering but the git based ones are:

### precommit

Fast/light linting and formatting. Run prettier --write  and eslint --fix task filter to only files that have status=staged (and git add)

### prepush

Before pushing the changes, Run prettier --check  and eslint as in precommit, but with env CI=true to enable the heavy eslint rules. Also run unit tests filtered to w

[2022-11-05 19:11] milesj commented on #414
@tomdavidson I have noticed a few issues. I think it has to do with it being a root level project. I'll look into it as part of 0.19 work.

With that being said, there may be a bit of an misunderstanding in how this works. So the `--affected`/`--status` logic determines whether to run the task or not. It _won't_ filter down the file list. So for example, if only 1 file was modified in a project, t

[2022-11-05 23:32] milesj commented on #397
Will land in 0.19 https://github.com/moonrepo/moon/pull/419

[2022-11-06 06:24] tomdavidson commented on #414
@milesj
`--affected` (a cross all commands) is a diff with the 3 potential comparisons where as `--status`  is filtering affected (hence one uses --affected with --status)?

The task filtering does not output list of changed files.... That is how I expected it to work, but I feel a bit dumb (and apologetic) here. My dummy task to check things out calls `ls` and I started expediting the list of fil

[2022-11-06 07:34] milesj commented on #414
Yeah, I'll look into adding the `$affectedFiles` token in the next month or two. This should pair nicely with `moon run
:lint --affected --status staged` as the pre hook and get you exactly what you want.

[2022-11-08 03:35] milesj commented on #414
Was able to figure out the problem, and it was with root only projects. https://github.com/moonrepo/moon/pull/423

[2022-11-08 03:45] tomdavidson commented on #414
#423  nice, thanks for finding a solution so quickly.

niiiiiicce! Seriously, even though Im only poking around with moon on side, I am really diggin it. Thanks @milesj

[2022-11-08 05:48] milesj commented on #414
I'll probably throw `$affectedFiles` into the next release, since it's rather light.

[2022-11-08 22:14] milesj commented on #414
The token approach wouldn't work, but still got something working: https://github.com/moonrepo/moon/pull/424

[2022-11-09 04:43] tomdavidson commented on #414
Ya defining the query/filtering in the task definition would be quick slick but I think #424 is pretty great and will be perfect for my case.

[2022-11-09 22:03] milesj opened #426 "[bug] `git branch --show-current` not available on old git versions"
**Describe the bug**

`moon init` fails if using an old git version, specifically < 2.22.0. The `--show-current` option was added in that version.

**Steps to reproduce**

Run `moon init` on an old git version.

**Expected behavior**

Doesn't crash.

**Screenshots**

**Environment**

[code]

**Additional context**

[2022-11-10 00:55] #426 closed

[2022-11-13 12:44] itsezc opened #433 "[feature] Git hooks"
**Is your feature request related to a problem? Please describe.**

Add and manage git hooks via Moon, this is useful for when you need to setup workflows i.e. commit linting for conventional commits. Additionally, this could be enhanced further on the VSCode extension.

**Describe alternatives you've considered**

Using third party crates / packages, this creates a disconnect in the toolchain.

*

[2022-11-13 13:00] itsezc opened #434 "[feature] Templates extend"
**Is your feature request related to a problem? Please describe.**

Allow for templates to extend each other, where common files could be shared examples include:

- LICENSE
- tsconfig
- gitignore

and similar files one might share between templates.

**Describe the solution you'd like**

[code]

If both the parent and the child template have the same file i.e LICENSE, the child gets priority

**D

[2022-11-13 13:01] itsezc commented on #433
A rust implementation could be found here:
https://git.bauke.xyz/Holllo/hooked

[2022-11-14 19:10] #405 closed

[2022-11-14 19:16] milesj opened #440 "v0.20 roadmap"
- [x] Start the toolchain refactor. Split out into another product.
- [x] BREAKING: Move tool related configs into `.moon/toolchain.yml`.
- [x] Implement tarball diffing while hydrating outputs.
- [x] Support custom VCS merge origin candidates.
- [x] Fix broken/missing generator merging.

Remote caching:
- [x] Implement max upload size limit.
- [x] Integrate into this repo, examples, dev, etc.
- [

[2022-11-14 19:59] milesj commented on #414
@tomdavidson This has landed in the 0.19 release.

[2022-11-14 19:59] #414 closed

[2022-11-14 20:00] milesj commented on #397
0.19 released! It's not perfect, but we'll iterate on it over time.

[2022-11-14 20:00] #397 closed

[2022-11-16 04:53] itsezc commented on #440
Add:

- [ ] Fix json tabbed formatting with `.editorconfig` (#446)
- [ ] Investigate yaml tabbed formatting blocked by https://github.com/dtolnay/serde-yaml/issues/343

🙌🏽

[2022-11-17 05:26] IgnisDa opened #453 "`moon run` does not reinstall dependencies if `package.json` is changed"
Sometimes I change `package.json` of my projects manually. But when I run `moon setup`, it does not run `pnpm install` for me:
<img width="492" alt="image" src="https://user-images.githubusercontent.com/60938164/202363299-bd7a05c1-db9c-4072-b257-7ce75bb1e230.png">

I think it takes only changed lockfiles into account.

I would like to suggest that changed `package.json` should also be taken into a

[2022-11-17 05:27] IgnisDa commented on #401
@milesj Any progress on this? Otherwise I would like to take it up.

[2022-11-17 07:00] milesj commented on #401
@IgnisDa Do you have an example? For the most part, outputs are rather static. And many of them, especially token functions, would not be applicable in outputs.

[2022-11-17 08:00] milesj commented on #453
@IgnisDa I do check for it: https://github.com/moonrepo/moon/blob/master/crates/node/platform/src/actions/install_deps.rs#L128

Can you paste the logs next time this happens.

[2022-11-17 09:31] tomdavidson opened #455 "[feature] multiple status filters"
**Is your feature request related to a problem? Please describe.**

Id like to run a task only on modified and added files.  `--affected` defaults to `--status=all` which includes deleted, untracked and unstaged.

**Describe the solution you'd like**

Support multiple status in the filter such as :

- `--status=added --status=modified`
- `--status=added,modified`
- `--status={added,modified,!unsta

[2022-11-17 15:52] IgnisDa commented on #453
@milesj Here is an example:
<img width="1135" alt="image" src="https://user-images.githubusercontent.com/60938164/202493599-30fbbf50-a80e-445f-89c2-0f762c7431a2.png">

I am adding `urql` as a dependency to `apps/website/package.json` but it does not pick up that change.

[2022-11-17 16:06] IgnisDa commented on #453
I think I found the problem. Here (https://github.com/IgnisDa/moon/blob/d2a0cb0a1dad87b7fa55a599fdf5acaa5e36764b/crates/cli/src/commands/setup.rs#L22), it is passing `None` as the `context` which causes it to have no touched files.

[2022-11-17 16:40] IgnisDa commented on #453
Digging into it, the `has_modified_files` variable (https://github.com/IgnisDa/moon/blob/d2a0cb0a1dad87b7fa55a599fdf5acaa5e36764b/crates/node/platform/src/actions/install_deps.rs#L125) is always set to `false`. [This](https://github.com/IgnisDa/moon/blob/d2a0cb0a1dad87b7fa55a599fdf5acaa5e36764b/crates/node/platform/src/actions/install_deps.rs#L152) line evaluates to `true` because `last_modified`

[2022-11-17 16:44] IgnisDa commented on #401
<img width="439" alt="image" src="https://user-images.githubusercontent.com/60938164/202506034-203b8fc8-dcdb-40bc-a655-0046820fbe20.png">

@milesj

[2022-11-17 17:38] milesj commented on #453
Ah that's right. This is working as intended unfortunately. The `setup` command isn't meant to constantly be ran, it's like something you run once while setting up moon, or setting up the toolchain.

You'll need to rely on `moon run` for the install to trigger correctly.

[2022-11-17 17:42] milesj commented on #401
The problem is that globs are not supported in outputs, and `@group` may contain globs since they are injected as-is. Let me think about this.

[2022-11-17 23:55] IgnisDa commented on #453
Ah okay makes sense. Closing this.

[2022-11-18 05:33] IgnisDa commented on #453
@milesj Reopening this because when I change `package.json` manually and then run `moon run visualizer:serve`, it does not pick up changes in the `package.json`.

[2022-11-21 19:33] milesj commented on #455
This will definitely be possible.

[2022-11-29 13:27] bryanjswift opened #477 "[feature] Enable a max parallelization flag to limit number of processes kicked off simultaneously"
**Is your feature request related to a problem? Please describe.**

I have a monorepo with 30+ packages when I run a command like `moon run :shared-task` if there are not dependencies which bottleneck how many tasks can run then a `node` process will be started for each immediately this causes CPU thrashing or at least consumes all CPU meaning I can not do anything else while these jobs are in fli

[2022-11-29 19:05] milesj commented on #477
I'm currently not aware of a way to handle this, since the thread pool is entirely abstracted away behind Tokio (https://tokio.rs/).

I'll look into it however.

[2022-11-29 22:11] #440 closed

[2022-11-29 22:14] milesj opened #479 "v0.21 roadmap"
- [x] Support multiple `--status` options: https://github.com/moonrepo/moon/issues/455
- [x] Update `affectedFiles` to support "env" or "args" enum
- [x] Land the graph visualizer
- [x] Add `moon run --force` to bypass caches
- [x] Add `moon init --minimal` for a quick setup
- [x] Implement partial language support (outside of toolchain)
- [x] Support new langs: go, deno, ruby, rust, php, python

[2022-11-30 02:08] bryanjswift opened #481 "[bug] .env file does not break cache when listed as an input"
**Describe the bug**

It appears that `.env` file can not be considered an input. Presumably this is related to the handling of the `envFile` option and it defaulting to `.env` (per https://moonrepo.dev/docs/config/project#envfile). Specifying a different, existing file for the `envFile` does not appear to change this behavior.

**Steps to reproduce**

1. Create a task which should rebuild when th

[2022-11-30 02:53] milesj commented on #481
This is surprising since it's even explicitly defined as an input. I wonder if it's because of the leading dot. Will look into.

[2022-11-30 02:57] bryanjswift commented on #481
For what it's worth, changes to the `.env.sample` and script do trigger rebuilds as expected.

[2022-11-30 05:01] milesj commented on #481
Ok that does help narrow it down. I think I have an idea of where to look.

[2022-11-30 19:58] milesj commented on #481
@bryanjswift Oh, one thing. Are these files `.gitignored`? If so, that's the problem.

Hashing runs through `git hash-object` and if they are git ignored, I don't receive a hash.

[2022-11-30 20:25] milesj commented on #481
Working on this here: https://github.com/moonrepo/moon/pull/482

[2022-11-30 21:17] bryanjswift commented on #481
Ahh, `.env` is indeed ignored by git via `.gitignore`.

[2022-11-30 22:01] milesj commented on #481
Yeah it kind of didn't cross my mind while building it, however...

It looks like `git hash-object` works on ignored files, which is what explicit inputs use. Globs use `git ls-tree` and won't work there, so I believe I have a way around this for now.

[2022-11-30 23:58] #481 closed